.Container {
  background-color: #f4ff5e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
  border-radius: 12px;
  background-color: var(--color-secondary);
  gap: 10px;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &::placeholder {
    color: rgb(147, 147, 147);
  }

  &:focus {
    border: 1px solid #425289;
    outline: none;
  }

  &-Input {
    position: relative;
    width: 250px;
    background-color: var(--color-secondary);
    padding: 10px;
    border: none;
    border-bottom: 2px solid var(--color-primary);

    &:focus {
      outline: none;
    }
  }

  &-Upload {
    display: none;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    color: var(--color-text-primary);
    font-size: 12px;
    margin: auto;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &-Text {
    color: var(--color-text-primary);
    font-size: 12px;
    margin: 10px;
  }
}

.Logo {
  color: var(--color-text-primary);
  font-weight: 800;
  font-size: 24px;
}

.Title {
  color: var(--color-text-primary);
  font-weight: 800;
  font-size: 18px;
}
