.Chat {
  background-color: var(--color-third);
  flex: 1;

  &-Info {
    height: 50px;
    background-color: var(--color-text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--color-white);
  }

  &-Name {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
  }
}
