.User {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-text-primary);
  cursor: pointer;
  margin: 2px;
  padding: 3px;

  &_Hover {
    &:hover {
      border-radius: 8px;
      background-color: var(--color-primary);
    }
  }

  &-Image {
    background-color: var(--color-text-primary);
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% 0%;
  }
  &-ChatsInfo {
    display: flex;
    flex-direction: column;
  }

  &-Name {
    font-size: 18px;
    color: var(--color-text-primary);

    &_Chat {
      font-weight: 500;
    }

    &Text {
      font-size: 14px;
    }
  }
}
