.Home {
  background-color: #f4ff5e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Container {
    border-radius: 12px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }
}
