.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-third);
  color: var(--color-white);
  height: 50px;
  padding: 12px;

  &-Logo {
    font-weight: 700;
  }
}
