.Search {
  border-bottom: 1px solid gray;

  &-Form {
    padding: 8px;

    input {
      background-color: transparent;
      border: none;
      color: var(--color-white);
      outline: none;

      &::placeholder {
        color: var(--color-text-sec);
      }
    }
  }
}
